.cpcache
.nrepl-port
target
repl
scratch.clj
.shadow-cljs
target
yarn.lock
node_modules/
.DS_Store
resources/public/ui
.store
*.local.*
.calva
.clj-kondo
.lsp
.calva
frontend/resources/public/ui
build
.env.local
.env.prod
